.App {
  text-align: center;
  overflow-y: scroll;
  height: 100vh; /* Set height to full viewport height */
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -=================------=== */
.scroll{
  scroll-snap-align: start; 
}